// Place all the styles related to the ideas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$font-family: Helvetica, sans-serif;
$primary-color: #E344AB;

a {
  color: $primary-color;
   font-family: $font-family
}

h1{color: #44E347

}
a{
  font: {color: $primary-color;
    family: 'Shadows Into Light', cursive
;
    size: 2em;
    weight: bold;
  }
}

p{
  color: #7E5FD9
}

h4{
  color: #6FE1E3
}